$white: #ffffff;
$blueGreen: #588b8b;
$peach: #ffd5c2;
$orange: #f28f3b;
$burnt: #c8553d;
$mainFont: 'Roboto Mono', monospace;

html, body {
    width: 100%;
    height: 100%;
    background-color: $white;
}

h2 {
    color: $blueGreen;
    // opacity: 5;
    // transition: opacity 3s;
    font-family: $mainFont;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
}

.plant-container {
    display: flex;
    width: auto;
    // overflow: hidden;
    height: max-content;
    justify-content: center;
    align-items: center;
    div {
        padding: 5px;
        
    }
    img {
        max-width: 100%;
    }
}

.plant-pic {
    height: 400px;
    width: 250px;
    opacity: 0.90;
    border-radius: 5px;
}

.btn-primary {
    background-color: $blueGreen;
    border-color: $blueGreen !important;
    border: 0;
    font-size: 1.0em;
    padding: .75em;
    width: 100%;
    margin-top: 1em;
    font-family: $mainFont;
    
}

.submit-button{
    background-color: $blueGreen;
    border-color: $blueGreen !important;
    border: 0;
    font-size: 1.0em;
    padding: .75em;
    width: 100%;
    margin-top: 1em;
    font-family: $mainFont;
}

.signup-heading {
    text-align: left;
}

.form-label {
    color: grey;
    font-family: $mainFont;
}

.greySmall {
    color: grey;
    font-family: $mainFont;
    margin-bottom: 0px;
}

.navbar {
    background: $blueGreen !important;
}

// .card-img-top {
//     border-radius: 50% !important;
// }

.plantCards {
    // background-color: black;
    border-color: transparent;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    .card-img-top {
        // border-radius: 50%;
        border-color: yellow;
        
    }
}

.plantCards:hover {
    transform: scale(1.03); 
}

.guestButton {
    margin-top: 0px;
}

.display-container {
    .card-body {

        justify-content: space-between;
        .newButton {
            margin-top: 39px;
        }
        .card-text {
            height: 5vh;
        }
    }
}
